.shared-button {
  font-family: 'Roboto-regular', 'Helvetica', sans-serif;
  font-weight: normal;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: background-color .2s ease;
  font-size: var(--font-size-l);

  &.primary {
    color: white;
    background-color: var(--button-color-primary);

    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: var(--button-color-primary--hover);
    }
  }

  &.secondary {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--button-color-border);

    a {
      text-decoration: none;
      color: var(--color-primary);
    }

    &:hover {
      background-color: var(--button-color-secondary--hover);
    }
  }

  &.has-icon {
    justify-content: space-between;
  }

  &.small {
    font-size: var(--font-size-s);
    padding: var(--spacing-xs) var(--spacing-s);
  }

  &.medium {
    font-size: var(--font-size-s);
    padding: var(--spacing-xs) var(--spacing-m);
  }

  &.large {
    font-size: var(--font-size-m);
    padding: var(--spacing-s) var(--spacing-l);
  }
}

