.page-wrapper {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas: "header"
                       "content"
                        "actions";
  height: 100%;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-xl);
  }

  .header {
    font-size: var(--font-size-xl);
    color: var(--color-font);
  }

  .info-header {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
    color: var(--color-font);
  }

  .reservations-container {
    display: flex;
    flex-direction: column;

    .info-header {
      color: var(--color-primary);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-m);
    }

    .reservations-container__header {
      h2 {
        margin-bottom: var(--spacing-l);
      }
    }

    .reservations-list {
      margin: var(--spacing-xl) 0;
      display: flex;
      gap: var(--spacing-l);
      overflow-x: scroll;
    }
  }

  .dashboard-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    grid-area: actions;
    align-items: flex-end;
  }

  .background-image {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    grid-area: image;

    img {
      width: 100%;
    }
  }
}

@media(min-width: 1024px) {

  .page-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas: "header image"
                         "content image"
                          "actions image";
    position: relative;

    .dashboard-footer {
      justify-content: flex-start;
      align-items: flex-start;
      grid-area: actions;
    }

    .background-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      grid-area: image;

      img {
        width: 500px;
      }
    }
  }
}