.reservation-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 100%;
  max-width: 540px;
  margin-top: var(--spacing-xl);

  .reservation-form-button {
    width: 140px;
    align-self: center;
  }
}