.root-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);

  .top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-xl);
    height: 60px;
    color: #ffffff;
    background-color: var(--color-primary);
    font-weight: var(--font-weight-normal);
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-m);
  }

  main {
    padding: var(--main-section-padding);
  }

  @media (max-width: 540px) {
    main {
      padding: 3rem;
    }
  }
}