.root-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .top-bar {
    display: flex;
    width: calc(100% - var(--spacing-xs) * 2);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-m);
    color: var(--color-font);
    background-color: var(--color-card);
    font-weight: var(--font-weight-normal);
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-m);
    margin: var(--spacing-xs);
    border-radius: 8px;
  }

  main {
    padding: var(--main-section-padding);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 540px) {
    main {
      padding: var(--spacing-xl);
    }
  }
}