.box-container {
  display: flex;
  flex-grow: 1;
  border: 1px solid #abadaf;
  min-height: 60px;
  padding: 1rem;
  width: 100%;
  max-width: 768px;
  box-shadow: 0 0 45px -31px rgba(66, 68, 90, 1);
  border-radius: 2px;

  >* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}