@font-face {
  font-family: 'Roboto-light';
  src: url('../fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}